@import url('colors.css');


.content {
  margin: 0 5%;
}

.navbar-toggler {
  border: none;
}

section{
  margin: 60px 20px;
  padding: 20px;
}

img.mirror{
    transform: rotateY(180deg);
}

h2.line_text {
    text-align: center;
    display: block;
}
h2.line_broken {
    text-align: center;
    display: none;
}

row-cols-2 col:first-child{
  width: 250px;
}

@media only screen and (max-width:1600px){

    h2.line_text { display: none; }
    h2.line_broken { display: block; }

}

@media (prefers-reduced-motion: reduce) {


}