@import url('colors.css');

.content { margin: 0 5%; }

section{
  margin: 60px 20px;
  padding: 20px;
}

img.mirror{ transform: rotateY(180deg); }

.hide-me[aria-expanded="true"] {display: none;}

.navbar-toggler { border: none; }

/* Hero styling */

h2.line_text {
    text-align: center;
    display: block;
}

h2.line_broken {
    text-align: center;
    display: none;
}

/* CV styling */

td.companyName{
    width: 60%;
}

/* Bio styling */

div.biogram{
    padding: 40px 20px;
}

p.card-text{
    font-size: calc(0.5rem + 0.5vw);
}

.card-link{
    bottom: 5px;
}

/* Portfolio styling */

.custom-carousel-control {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brightAccent);
    font-size: 2rem;
    border: none;
    outline: none;
    z-index: 1;
}

.carousel-control-prev.custom-carousel-control {
    left: -5%;
}

.carousel-control-next.custom-carousel-control {
    right: -5%;
}

/* mobile */

@media only screen and (max-width:1600px){

    h2.line_text { display: none; }
    h2.line_broken { display: block; }

}

@media (prefers-reduced-motion: reduce) {

}