:root {
    /* Color inspiration - base colors */
    --PantoneGraniteGreen: #86a293;
    --PantonePeachFuzz: #ffbe98;

    /* color palette */
    --mainBackground: white;
    --brightAccent: #86a293;
    --darkAccent: #586960;
    --grayAccent: gray;
    --contrastAccent: #ffbe98;
}