@import url('colors.css');

/* main tags styling */
a {
  color: var(--brightAccent);
  text-decoration: none;
}
a:hover {
  color: var(--darkAccent);
}
a:visited {
  color: var(--brightAccent);
}

h1, h2, h3, h4 {
  color: var(--darkAccent);
}

p { text-align: justify; }

/* SVG, contact styling */
.bi{ padding: 12px;}
.bi:hover{ color: var(--darkAccent);}

.btn{
  font-size: calc(0.5rem + 0.7vw);
}
.btn:hover{
  background-color: var(--brightAccent);
}

img.hero{
  border: solid;
  border-color: var(--darkAccent);
  padding: 1px;
  background-color: var(--brightAccent);
  margin-top: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc(0.5rem + 0.7vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}