<div class="category">
    <header>Work Experience</header>
    <div>
        <div class="role">Web Miner, Software engineer</div>
        <div class="comp">UBS Business Solutions Poland sp. z o.o.</div>
        <div class="time">Dec 2018 - Present</div>
        <div class="about">
            <p>Developing and providing full life cycle of web scraping robots with RPA tools and dedicated web scraping platforms based on Python (in 2018-2019) or Java Script (in 2024):
                <ul>
                    <li>collecting requirements, creating, testing and implementing robots, writing documentation</li>
                    <li>regular monitoring and maintenance, adjusting, optimization, processes documentation</li>
                    <li>decommission of unnecessary robots and projects</li>
                </ul>
            </p>
            <p>Analizyng websites and web applications in terms of:
                <ul>
                    <li>architecture, structure</li>
                    <li>used technologies</li>
                    <li>API</li>
                </ul>
            </p>
            <p>Basic analysis and quality control of data, processing of data sets, cooperation with teams involved in further analysis and data processing.</p>
            <p>Audit and improving processes of handling robots and data, developing and maintaining tools for web miners.</p>
            <p>Providing trainings for coworkers, onboarding new joiners in team.</p>
            <p>Implementation of agile solutions (Scrum-based) and project management in R&D projects.</p>
        </div>
    </div>
</div>