/* color palette */
:root {
  /* Color inspiration - base colors */
  --PantoneGraniteGreen: #86a293;
  --PantonePeachFuzz: #ffbe98;

  --mainBackground: white;
  --brightAccent: #86a293;
  --darkAccent: #586960;
  --grayAccent: gray;
  --contrastAccent: #ffbe98;
}

/* main tags styling */
a {
  color: var(--brightAccent);
  text-decoration: none;
}
a:hover {
  color: var(--darkAccent);
}
a:visited {
  color: var(--brightAccent);
}

i{
  color: var(--grayAccent);
}

h1, h2, h3, h4 {
  color: var(--darkAccent);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
